.tranding-section {
    width: 100%;
    display: flex;
    margin-top: 50px;


}

.trending-img {
    width: 70%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2em;

}

.trending-img img {
    border-radius: 2px;
    opacity: 0.99;
    filter: invert(5%);
}

.treding-img-details {
    position: relative;
    top: -150px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.trend-img-text {
    letter-spacing: 1px;
    font-weight: 800;
}

.trend-img-btn {

    border: 2px solid #1875f0;
    padding: 0.2em 1em;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1em;
}

.trend-img-btn:hover {
    transition-duration: 0.5s;
    transition: linear;
    background-color: #1875f0;
}

.trends-head,
.latest-article-head {
    margin-bottom: 0.5em;
    font-weight: 800;
    font-size: 20px;
}

.trend-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.trend-card-img {
    width: 69px;
    margin: 0 1em;
}

.trend-navigation {
    display: flex;
    width: 200px;
    justify-content: space-between;
    display: none;
    margin: auto;
    margin-top: 20px;
}

#backward,
#forward,
#back,
.front {
    font-size: 30px;
    color: #1875f0;
}

#backward {
    margin-right: 2em;
}

#backward:disabled,
#forward:disabled,
#back:disabled,
#front:disabled {
    font-size: 30px;
    color: rgb(218, 214, 214);
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
    cursor: pointer;
}



.slider-loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* end of trending section */

.latest-article-section {
    margin: auto;
    width: 100%;
    margin-top: 50px;
}

.latest-article-section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.add-article {
    border: 1px solid #1875f0;
    padding: 0.2em;
    text-align: center;
    border-radius: 20px;
    color: #1875f0;
    width: 100px;
    /* margin: auto; */
    /* margin-top: 2.5em; */
    cursor: pointer;
}

.add-article:hover {
    border: 1px solid #27ae60;
    background-color: #27ae60;
    color: #fff;
}

.latest-article-body {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
}

.latest-article-card {
    width: 60%;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    margin-right: auto;
    border: 1px solid #1875f0;
    align-items: center;
}

.latest-article-card-img {
    width: 180px;
    height: 180px;
    /* height: 100%; */
    margin-right: 30px;
}

.latest-article-card-details {
    display: flex;
    margin-top: 2em;
    color: #cecccc;
}

.latest-article-card-title {
    /* margin-top: 2em; */
}



.fa-trash {
    font-size: 25px;
    color: rgb(247, 9, 9);
    margin-left: auto;
    /* position: relative;
    top: 0;
    left: 00; */
}

.views,
.comments {
    margin-right: 2em;
}

.article-category {
    border: 1px solid #1875f0;
    padding: 0.5em;
    text-align: center;
    border-radius: 20px;
    color: #1875f0;
    width: 100px;
    margin: auto;
    margin-top: 2.5em;
}

.article-category:hover {
    background-color: #1875f0;
    color: #fff;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin-right: auto;
    margin-top: 1em;
    color: #fff;
}

#back {
    margin-right: 0.5em;
}

.front {
    margin-left: 0.5em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* width: 300px; */
    /* align-items: center; */
}

.listLI {
    background-color: #fff;
    border: 1px solid #1875f0;
    padding: 0.5em;
    cursor: pointer;
    color: #1875f0;
}

/* end of trending */