.tranding-section {
    width: 100%;
    display: flex;
    margin-top: 50px;


}

.trending-img {
    width: 70%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2em;

}

.trending-img img {
    border-radius: 2px;
    opacity: 0.99;
    filter: invert(5%);
}

.treding-img-details {
    position: relative;
    top: -150px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.trend-img-text {
    letter-spacing: 1px;
    font-weight: 800;
}

.trend-img-btn {

    border: 2px solid #1875f0;
    padding: 0.2em 1em;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1em;
}

.trend-img-btn:hover {
    transition-duration: 0.5s;
    transition: linear;
    background-color: #1875f0;
}

.trends-head,
.latest-article-head {
    margin-bottom: 0.5em;
    font-weight: 800;
    font-size: 20px;
}

.trend-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.trend-card-img {
    width: 69px;
    margin: 0 1em;
}

.trend-navigation {
    display: flex;
    width: 200px;
    justify-content: space-between;
    display: none;
    margin: auto;
    margin-top: 20px;
}

#backward,
#forward,
#back,
.front {
    font-size: 30px;
    color: #1875f0;
}

#backward {
    margin-right: 2em;
}

#backward:disabled,
#forward:disabled,
#back:disabled,
#front:disabled {
    font-size: 30px;
    color: rgb(218, 214, 214);
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
    cursor: pointer;
}



.slider-loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* end of trending section */