.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 24, 24, 0.5);
  z-index: 5000;
  display: none;
}

.create-form {
  /* position: relative; */
  /* top: 0; */
  display: flex;
  position: fixed;
  top: 20%;
  left: 40%;
  transform: translateX(-40%);
  /* transform: translateY(-50%); */
  background-color: #fff;
  /* width: 60%; */
  max-width: 1000px;
  /* margin: auto; */
  box-shadow: 0px 2px 5px rgb(147, 231, 126);
}

.create-form-img {
  width: 450px;
}

form {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  border: 1px solid #27ae60;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 15px;
}

form input {
  border: 1px solid #27ae60;
  padding: 0.5em;
  margin-bottom: 2em;
  width: 200px;
  border-radius: 3px;
}

form h3 {
  margin-bottom: 2em;
}

.input-div {
  display: flex;
  flex-direction: column;
}

form button {
  border: 1px solid #27ae60;
  padding: 0.5em;
  border-radius: 8px;
  background-color: #27ae60;
  color: #fff;
}

.cancel-circle {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  padding: 0.2rem;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

#avatarPreview {
  height: 50px;
  width: 50px;

}


@media screen and (max-width: 1000px) {
  .create-form-img {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .create-form {
    width: 300px;
  }

  form {
    padding: 1em;
    margin: 1em auto;
  }
}